# ---------------------------
# Forçar Visual FoxPro → xBase
# ---------------------------

# Código-fonte
*.prg linguist-language=xBase
*.h   linguist-language=xBase

# Formulários, classes e relatórios
*.scx linguist-language=xBase
*.vcx linguist-language=xBase
*.frx linguist-language=xBase
*.lbx linguist-language=xBase

# Tabelas e índices
*.dbf linguist-language=xBase
*.fpt linguist-language=xBase
*.cdx linguist-language=xBase

# Menus
*.mnx linguist-language=xBase
*.mpr linguist-language=xBase

# Programas compilados (ignorar)
*.fxp linguist-vendored
*.exe linguist-vendored
*.dll linguist-vendored
